<h1>Cocktails#new</h1>
<p>Add a new cocktail</p>

<%= simple_form_for @cocktail do |f| %>
  <%= f.error_notification %> <!-- errors of validation on model side! not frontend regex things -->
  <%= f.input :name %>
  <%= f.button :submit %>
<% end %>
